*{
    margin:0px;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 60px;
}
div{
    
    position: relative;
} 
.column{
    
    width: 32%;
    float: left;
    margin: 6px;
    border: 1px solid black;
}

.bg{
    background-color: #C9DCE2;
}
.bg1{
    background-color: #BBCDCF;
}
.bg2{
    background-color: #D1E0E0;
}

.HEAD{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.a{
    background-color:  red;
}

.b{
    background-color:  teal;
}

.c{
    background-color: brown;
}

p{
    padding:27px 17px 17px 17px;
    text-align: left;
    
}

@media (min-width:992px){

}

@media (min-width:768px) and (max-width:991px){
    .column{
        width: 48%;
        margin-right: 3px;
        margin-left: 10px; 
    }
    .bg1{
        width: 97%;
        clear: both;
    }
}
@media (max-width:767px){

    .column{
        width: 90%;
        margin-left: 7%;
        
       
    }

}
