body{
    font-size: 20px;
}

a:link {
    text-decoration: none;
  }

#main-nav{
	border-radius: 0;
	background-color: #F1F0F0;
    padding: 25px;
}

#nav-items ul li a{
    color: #3B5249;
    text-align: center;
}

#nav-button .icon-bar{
    border: 2px solid #3B5249;
}

#brand{
	color: #F1F0F0;
	margin: 0px;
}

#main-content{
	background-color: #F1F0F0;
	margin: 25px;
	height: 1000px;
}
